
  <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h2>Modal Header</h2>
        <span class="close" (click)="cancelOption()">&times;</span>
      
      </div>
      <div class="modal-body">
        <p>Some text in the Modal Body</p>
        <p>Some other text...</p>
      </div>
      <div class="modal-footer">
        <h3>Modal Footer</h3>
        <button (click)="deleteOption()">&lt;&nbsp;Delete&nbsp;&gt;</button>
        <button (click)="cancelOption()">&lt;&nbsp;Cancel&nbsp;&gt;</button>
      </div>
    </div>
  
  </div>