<!--<p>login works!</p>-->


<div class="bg">

    <div class="container login-box">
      <div class="center-div">
        <div class="card box-shadow">
          <div class="card-header">
  
            <h4 class="center-v2 my-0 font-weight-normal form-title ">TopGun</h4>
  
          </div>
          <div class="card-body">
            <form #registerForm="ngForm" >
              <div class="form-group input-line">
                <label for="email">Email address</label>
                <input 
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required
                type="email" 
                [email]="registerData.email !== ''"
                class="form-control" 
                id="email" 
                aria-describedby="emailHelp" 
                placeholder="Ange din e-postadress"
                [(ngModel)]="registerData.email" 
                name="email"
                #emailControl="ngModel">

              </div>

              <span
              class=" text-danger"
              *ngIf="emailControl.errors?.pattern && emailControl.touched">
              Ogiltig e-postadress
            </span>

            <span 
            class=" text-danger"
            *ngIf="emailControl.errors?.required && emailControl.touched">
              Email fältet får inte vara tom
          </span>

              <div class="form-group input-line">
                <label for="password1">Lösenord</label>
                <input 
                required
                type="password" 
                class="form-control" 
                id="password1" 
                placeholder="Ange dit lösenord"
                [(ngModel)]="registerData.password" 
                name="password1"
                #passwordControl1="ngModel">
              </div>


            <span 
            class=" text-danger"
             *ngIf="passwordControl1.errors?.required && passwordControl1.touched">
              Lösenord fältet får inte vara tom
          </span>


          <div class="form-group input-line">
            <label for="password2">Repetera lösenord</label>
            <input 
            required
            type="password" 
            class="form-control" 
            id="password2" 
            placeholder="Ange dit lösenord"
            [(ngModel)]="registerData.password" 
            name="password2"
            #passwordControl2="ngModel">
          </div>

          <span 
          class=" text-danger"
           *ngIf="passwordControl2.errors?.required && passwordControl2.touched">
            Lösenord fältet får inte vara tom
        </span>


              <!--<div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                   <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                  </div>-->
  
              <button 
              type="submit" 
              class="center-v2 btn btn-primary" 
              [disabled]="registerForm.invalid || !registerForm.dirty"
              (click)="registerNewUser()">Register</button>
  
            </form>

            <a class="link" (click)="navigate()">Gå till login</a>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  