<div class="container margin-top">
    <h3>Hund torget</h3>
    <div class="list-group">

        <a *ngFor="let animal of animales" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{animal.name}}</h5>
                <small>
                  <!--   <a (click)="DeleteAnimal(animal.id)" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Delete</a>
                    <a class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" [routerLink]="['animalProfile', animal.id]">Edit</a>
                 -->
                 <small>{{animal.dateOfBirth | date:'shortDate'}}</small>
                </small>
            </div>
            <p class="mb-1">{{animal.description}}</p>
            <!-- <small>{{animal.type}},</small>
            <small>{{animal.breed}},</small>
            <small>{{animal.size}},</small>
            <small>{{animal.gender}}</small> -->
            <!-- <img src="{{ animal.photo }}" class="img-fluid" alt="Responsive image"> -->
            <figure class="figure">
                <img src="{{ animal.photo }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption text-right">{{animal.type}},{{animal.breed}},{{animal.size}},{{animal.gender}}</figcaption>
                <!-- <app-image-lightbox [animalId]="animal.id"></app-image-lightbox> -->
            </figure>
        </a>
    </div>
</div>
